.message {
    border: solid green 3px;
    color: white;
    position: relative;
    /* position: absolute; */
    /* top: 40%; */
    /* If width isn't set, the text doesn't adjust. Why? */
    width: 540px;
    /* Homework says 900px, but 540 px matches the reference screenshot */
    /* text-align: center; */
    font-size: 54px;
}

.message p {
    border: solid green 3px;
    position: absolute;
    top: 50%;
    left: 50%;

transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto;
    /* A background image defined in body can be overridden in JS with a target of body */
    /* background-image: url("background1.jpg"); */
}

/* This isn't necessary, it's an exercise to show that without this resize,
the image referenced in the html will not cover the entire page */
#bkgImg {
    width: 100%;
}

/* This is the container for the background image */
/* Note - the background img set here does not override an image set in the html */
/* In fact - nothing here seems to impact the image set in this div */
/* So the image width has to be set independly on the image */
.container {
    /* Why isn't the background image set here is not overridden by the JS */
    /* It seems like it's because it's defined in an element other than body */
    /* Because the JS specifically targets the body.style */
    /* background-image: url("background2.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* Setting width here does not impact the image inside the div */
    /* width: 100%; */
}

.formcontainer {
    position: fixed;
    background-color: white;
    width: 400px;
    margin: 40px;
    padding: 25px;
    border: 3px solid black;
    border-radius: 50px;
}

input[type="email"], input[type="password"] {
    padding: 15px;
    width: 100%;
    margin: 15px 0 30px 0;
    background: #EEEEEE;
}

input[type="email"]:focus, input[type="password"]:focus {
    background: #E0E0E0;
}

.thebutton {
    padding: 16px 20px;
    font-size: 28px;
    cursor: pointer;
    background: #F44336;
    width: 100%;
    color: white;
    border-radius: 30px;
}

.thebutton:hover {
    color: purple;
    background: orange;
    transition: 0.5s;
}
