
  <%- include ('partials/header') %>

  <h1 class="text-center text-white">Powered by <a href="https://www.coindesk.com/price/bitcoin">CoinDesk</a></h1>
  <div class="container well fs-4">
    <!-- we used default form:get -->
    <!-- after making the submit buttons below, we want the form to get sent to 'bitcoin'-->
    <form action="/getbitcoinprice" method="get">
      <!-- <label for=""> -->
        <label class="text-white">Enter useless: <input class="px-3" type="search" name="price" id="id_price" placeholder="useless..." autocomplete="off"/></label>
        <!-- in forms with button type = search, there will be a '?' in the address bar, which is a query -->

        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-danger" type="reset">Reset</button>

    </form>

  </div>

  <%- include ('partials/footer') %>
  
