<!-- see how bare HTML elements can be rendered without parent html or body tags -->
<p>paragraph</p>

<h1>Big Header</h1>

<style>
    table, tr, td { border: solid 1px black; }
</style>

<table width="50%">
    <tbody>
        <tr>
            <td>Hello</td>
            <td>Table</td>
        </tr>
        <tr>
            <td><a href="https://www.costco.com">Costco</a></td>
        </tr>
    </tbody>
</table>

<div style="color: red;">The below image URL will not render as a bare element, remember that.</div>
<img src="https://www.istockphoto.com/photo/call-me-gm501391558-81304059">