
  <%- include ('partials/header') %>

  <h1 class="text-center text-white">Find a GIPHY!</h1>
  <div class="container well fs-4">
    <!-- we used default form:get -->
    <!-- after making the submit buttons below, we want the form to get sent to 'getLyrics'-->
   <!-- <form action="/getLyrics" method="get"> -->
   <!-- <form action="/getMoreLyrics" method="get"> -->
   <form action="/getGiphy" method="get">
      <!-- two inputs - one for song, one for lyrics -->
      <!-- going to avoid the linking info -->
      <!-- <label for=""> -->
		  <!-- name attribute is what gets used for the query parameter -->
        <label class="text-white">Search for GIPHY: <input class="px-3" type="search" name="q" id="giphy" placeholder="giphy..." autocomplete="off"/></label>
        <!-- in forms with button type = search, there will be a '?' in the address bar, which is a query parameterr -->

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        