
<%- include ('partials/header') %>

  <h1 class="text-center text-white">Trending on GIPHY!</h1>
	<div class="container well fs-4">
		<!-- need trending api -->
		<img id="gif" src="<%= image %>" alt="0" />
	</div>

<%- include ('partials/footer') %>