#table_0 {
    table-layout: fixed;
    width: 10px;
}
#table_0 td {
    /* 
    does td width override the table width? 
    table und, td = 200 => 2 inches, small white gap
    table width = 2000, td = 200 => 5 inches, small white gap
    table width = 2000, td = 100 => no change vs td = 200
    table width = 2000, td und, p = 200 => huge white gap from td size, area of p text is about 2 inches
    table width = 2000, td 800, p = 200 => td increases, apparently beyond 2000 total?
    table width und, td 800, p = 200 => td shrinks to a little over 200
    table width 10, td 800, p = 200 => back to td size 800, implying the table width needs to be initialized
    */
    /* so if the td width is blown up beyond content width, there is extra padding on the right side. Expected? */
    width: 800px;
    color:white;
    text-align: center;
    font-size: 20px;
    background-color: black;
}
/* this is the content*/
.button {
    /* font-size: large; */
    width: 200px;
    /*
    width: 700px;
    color: white;
    text-align: center;
    font-size: 60px;
    */
}
#button_0 {
    background: blue;
    padding: 10px;
    margin: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
}
#button_1 {
    background: red;
    padding: 10px;
    margin: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
}
#button_2 {
    background: green;
    padding: 10px;
    margin: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
}
#button_3 {
    background: yellow;
    padding: 10px;
    margin: 5px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
}