<%- include('partials/header') %>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>I am the Animals page</h1>
        <p>Here is what the user typed:</p>
        <p>
        <!-- placeholder to fetch data -->
        <!-- data is what we are sending to ejs file -->
        <%= data %>
        </p>
<%- include('partials/footer') %>